.filter{
    background: white;
    margin-top: 1rem;
    width:20%;
    padding: 1.5rem;
    padding-top: 1rem;
}
.filter > div:last-of-type{
    margin-top: 2rem;
}
.filter > div > h5{
    color:#6f7070;
    margin-top: .5rem;
    margin-bottom: .7rem;
}
.filter > div > div > p{
    color: #6f7070;
    font-size: .8rem;
    margin-top: .5rem;
}